/* LIGHTBOX */
#lightbox-container {
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #ffffff;
    border-radius: 5px;

}

#content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 50px;
}
#content img {
   
    max-height: 600px;
    height: auto;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto; 
}

#content video {
    
    max-height: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
}
img>#content,
#content>video

{
    max-height: 100%;
    width: auto;
}
.title-lightbox
{
    font-size: 24px;
    color: #901C1C;
    font-weight: 400;
}
.lightbox-image {
   
    margin-left: auto;
    margin-right: auto;
}

#lightbox-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: auto;
    right: 5%;
    color: #901C1C;
    font-weight: bold;
    font-size: 70px;
    border-radius: 0 3px 3px 0;
}

#lightbox-container .previous {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: auto;
    left: 5%;
    color: #901C1C;
    font-weight: bold;
    font-size: 70px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.previous:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#lightbox-container .close {
    cursor: pointer;
    color: red;
    position: absolute;
    top: 7%;
    left: auto;
    right: 5%;
    font-size: 70px;
}

.close:hover {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

a {
    color: red;
    text-decoration: none;
}