@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    text-align: center;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section article h3 {
    color: #D3573C;
    align-items: center;
    text-align: center;
    margin: 0;
}

.photographer_section article .tagline {
    color: #000000;
    text-align: center;

}

.photographer_section article .price {
    color: #525252;
    text-align: center;
}

/* Partie Filtres */

.label {
    float: left;
    margin: 0 30px 0 55px;
}
/* 
/* Bouton du dropdown */
.dropbtn {
    width: 200px;
    text-align: center;
    background-color: #901C1C;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    border-radius: 5px;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    /* background-color: #901C1C; */
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}


/* Links inside the dropdown */
.dropdown {
    color: #ffffff;
    padding: 12px 16px;
    /* text-decoration: none; */
    display: block;
    border-top: solid 1px white;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
} 
/* 
select:hover
{
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
} */

.filter-option {
    position: relative;
    display: block;
    margin: 0 2rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    line-height: 6rem;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    /* border-bottom: 1px solid #ffffff; */
   
}

.filter-option:not(.selected) {
    border-top: solid 0.1rem white;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.zone-tri {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
select
{
    width: 200px;
    text-align: center;
    background-color: #901C1C;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    border-radius: 5px;
    
}
select:hover
{
    cursor: pointer;
    text-decoration: underline;
    border-top: solid 0.8rem white;
}
*/

.select:focus, .select:active
{
    border-top: solid 1rem white;
} 

.filter-option:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid #ffffff;
    border-color: #fff transparent transparent transparent;
  }
